.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  margin-bottom: 20px;
}

input {
  margin-left: 10px;
}

.game-container {
  margin: 0 auto 20px;
  border: 1px solid #EEE;
}

.game-container.ended {
  pointer-events: none;
  opacity: .5;
}

.game-container td {
  background: #EEE;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.game-container td.empty {
  background: #DDD;
}

.game-container td.revealed {
  cursor: default;
}

td.mine::before {
  content: '💣';
}
